.git
.github
.vscode
.junie
.gemini

.env
.env.*
!.env.example

node_modules
npm-debug.log
yarn-error.log

vendor

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

docker-compose.yml
compose.dev.yaml
compose.prod.yaml

docs
README.md
GEMINI.md
CONTEXT.md
AGENTS.md
